
/* Custom styles for text colors */
.reveal h1 {
    color: black; /* Example color for h1 */
}
.reveal h2 {
    color: blue; /* Example color for h2 */
}
.reveal h3 {
    color: #3357FF; /* Example color for h3 */
}
.reveal section {
    font-size: 20px;
    text-align: left;
}